<!--# layout("/common/layout.html",{"jsBase":"/js/admin/search/item/"}){ -->

<form class="layui-form layui-form-pane" id="addForm">
	<div class="layui-row">
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 150px;">网站</label>
				<div class="layui-input-inline">
					<input type="text" name="siteId"  lay-verify="required"
						   placeholder="GET" autocomplete="off" class="layui-input"
						   value="${searchItem.webSite}">
				</div>
			</div>
		</div>
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 150px;">网站base路径</label>
				<div class="layui-input-inline">
					<input type="text" name="baseUri"  lay-verify="required"
						   placeholder="http:" autocomplete="off" class="layui-input"
						   value="${searchItem.baseUri}">
				</div>
			</div>
		</div>
	</div>
	<div class="layui-row">
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 150px;">书籍单条结果</label>
				<div class="layui-input-inline">
					<input type="text" name="bookItem"  lay-verify="required"
						   placeholder=".res-book-item" autocomplete="off" class="layui-input"
						   value="${searchItem.bookItem}">
				</div>
			</div>
		</div>
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 150px;">书籍单条结果过滤</label>
				<div class="layui-input-inline">
					<input type="text" name="bookItemEx" autocomplete="off" class="layui-input"
						   value="${searchItem.bookItemEx}">
				</div>
			</div>
		</div>
	</div>
	<div class="layui-row">
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label" style="width: 150px;">书籍封面图片地址</label>
					<div class="layui-input-inline">
						<input type="text" name="bookPicture"  lay-verify="required"
							   placeholder=".book-img-box img[src]" autocomplete="off" class="layui-input"
							   value="${searchItem.bookPicture}">
					</div>
				</div>
			</div>
		</div>
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 150px;">书籍封面图片地址过滤</label>
				<div class="layui-input-inline">
					<input type="text" name="bookPictureEx"  autocomplete="off" class="layui-input"
						   value="${searchItem.bookPictureEx}">
				</div>
			</div>
		</div>

	</div>
	<div class="layui-row">
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label" style="width: 150px;">书籍名</label>
					<div class="layui-input-inline">
						<input type="text" name="bookName"  lay-verify="required"
							   placeholder=".book-mid-info h4" autocomplete="off" class="layui-input"
							   value="${searchItem.bookName}">
					</div>
				</div>
			</div>
		</div>
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 150px;">书籍名过滤</label>
				<div class="layui-input-inline">
					<input type="text" name="bookNameEx"  autocomplete="off" class="layui-input"
						   value="${searchItem.bookNameEx}">
				</div>
			</div>
		</div>

	</div>
	<div class="layui-row">
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label" style="width: 150px;">作者</label>
					<div class="layui-input-inline">
						<input type="text" name="bookAuthor"  lay-verify="required"
							   placeholder=".book-mid-info .author" autocomplete="off" class="layui-input"
							   value="${searchItem.bookAuthor}">
					</div>
				</div>
			</div>
		</div>
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 150px;">作者过滤</label>
				<div class="layui-input-inline">
					<input type="text" name="bookAuthorEx"  autocomplete="off" class="layui-input"
						   value="${searchItem.bookAuthorEx}">
				</div>
			</div>
		</div>

	</div>
	<div class="layui-row">
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label" style="width: 150px;">简介</label>
					<div class="layui-input-inline">
						<input type="text" name="bookIntro"  lay-verify="required"
							   placeholder=".book-mid-info .intro" autocomplete="off" class="layui-input"
							   value="${searchItem.bookIntro}">
					</div>
				</div>
			</div>
		</div>
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 150px;">简介过滤</label>
				<div class="layui-input-inline">
					<input type="text" name="bookIntroEx" autocomplete="off" class="layui-input"
						   value="${searchItem.bookIntroEx}">
				</div>
			</div>
		</div>

	</div>
	<div class="layui-row">
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label" style="width: 150px;">更新时间</label>
					<div class="layui-input-inline">
						<input type="text" name="bookUpdate"  lay-verify="required"
							   placeholder=".book-mid-info .update a" autocomplete="off" class="layui-input"
							   value="${searchItem.bookUpdate}">
					</div>
				</div>
			</div>
		</div>
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 150px;">更新时间过滤</label>
				<div class="layui-input-inline">
					<input type="text" name="bookUpdateEx" autocomplete="off" class="layui-input"
						   value="${searchItem.bookUpdateEx}">
				</div>
			</div>
		</div>

	</div>



	<layui:submitButtons id="savesearchSite" />
</form>
<!--#} -->
<script>
layui.use(['edit'], function(){
  var searchSiteEdit = layui.edit
  searchSiteEdit.init();
});

</script>

