<!--# layout("/common/layout.html",{"jsBase":"/js/admin/search/site/"}){ -->

<form class="layui-form layui-form-pane" id="updateForm">
<div class="layui-row">
		<div class="layui-form-item">
			<label class="layui-form-label">网站名</label>
			<div class="layui-input-inline">
				<input type="text" name="website"  lay-verify="required"
					placeholder="请输入" autocomplete="off" class="layui-input"
					value="${searchSite.website}">
			</div>
		</div>
	<div class="layui-form-item">
		<label class="layui-form-label">搜索链接</label>
		<div class="layui-input-block">
			<input type="text" name="url" autocomplete="off"
				   placeholder="请输入名称" class="layui-input" value="${searchSite.url}">
		</div>
	</div>
	</div>
	<div class="layui-row">
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<label class="layui-form-label">请求方式</label>
					<div class="layui-input-inline">
					<input type="text" name="method"  lay-verify="required"
						placeholder="请输入" autocomplete="off" class="layui-input"
						value="${searchSite.method}">
					</div>
			</div>
		</div>
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<label class="layui-form-label">关键字属性名</label>
				<div class="layui-input-inline">
				<input type="text" name="keywords"  lay-verify="required"
					placeholder="请输入" autocomplete="off" class="layui-input"
					value="${searchSite.keywords}">
				</div>
			</div>
		</div>
	</div>
	<div class="layui-row">
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">pageSize属性名</label>
					<div class="layui-input-inline">
						<input type="text" name="pagesize"  lay-verify="required"
							   placeholder="请输入" autocomplete="off" class="layui-input"
							   value="${searchSite.pagesize}">
					</div>
				</div>
			</div>
		</div>
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<label class="layui-form-label">pageNum属性名</label>
				<div class="layui-input-inline">
					<input type="text" name="pagenum"  lay-verify="required"
						   placeholder="请输入" autocomplete="off" class="layui-input"
						   value="${searchSite.pagenum}">
				</div>
			</div>
		</div>

	</div>

	
	
	<layui:submitButtons id="savesearchSite" />
	<input type="hidden" name="id" value=${searchSite.id} />
</form>
<!--#} -->
<script>
layui.use(['edit'], function(){
  var searchSiteEdit = layui.edit
  searchSiteEdit.init();
});

</script>

