<!--# layout("/common/layout.html",{"jsBase":"/js/admin/search/site/"}){ -->

<form class="layui-form layui-form-pane" id="addForm">
	<div class="layui-row">
		<div class="layui-form-item">
			<label class="layui-form-label" style="width: 150px;">网站名</label>
			<div class="layui-input-inline">
				<input type="text" name="website"  lay-verify="required"
					   placeholder="例如：起点" autocomplete="off" class="layui-input"
					   value="">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label" style="width: 150px;">搜索链接</label>
			<div class="layui-input-block">
				<input type="text" name="url" autocomplete="off"
					placeholder="例如：https://www.qidian.com/search" class="layui-input" value="" style="width: 80%;">
			</div>
		</div>
	</div>
	<div class="layui-row">
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 150px;">请求方式</label>
					<div class="layui-input-inline">
					<input type="text" name="method"  lay-verify="required"
						placeholder="例如：GET" autocomplete="off" class="layui-input"
						value="">
					</div>
			</div>
		</div>
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 150px;">关键字属性名</label>
				<div class="layui-input-inline">
				<input type="text" name="keywords"  lay-verify="required"
					placeholder="例如：kw" autocomplete="off" class="layui-input"
					value="">
				</div>
			</div>
		</div>
	</div>
	<div class="layui-row">
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label" style="width: 150px;">pageSize属性名</label>
					<div class="layui-input-inline">
						<input type="text" name="pagesize"  lay-verify="required"
							   placeholder="例如：pageSize" autocomplete="off" class="layui-input"
							   value="">
					</div>
				</div>
			</div>
		</div>
		<div class="layui-col-xs4">
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 150px;">pageNum属性名</label>
				<div class="layui-input-inline">
					<input type="text" name="pagenum"  lay-verify="required"
						   placeholder="例如：page" autocomplete="off" class="layui-input"
						   value="">
				</div>
			</div>
		</div>

	</div>

	
	
	<layui:submitButtons id="saveMenu" />
</form>
<!--#} -->
<script>
layui.use(['add'], function(){
  var menuAdd = layui.add
  menuAdd.init();
});

</script>

